/* @import '../node_modules/font-awesome/css/font-awesome.min.css'; */

@font-face {
  font-family: 'anticon';
  src: url('../font/antd.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
}

body {
  /* min-width: 1160px; */
}

.ant-pagination {
  text-align: center;
}
.ant-pagination-prev,
.ant-pagination-item,
.ant-pagination-next {
  width: 48px;
}
