/* @import '../node_modules/font-awesome/css/font-awesome.min.css'; */

@font-face {
  font-family: 'anticon';
  src: url('public/font/antd.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 750px;
}
